.about {
    display: flex;
    flex-direction: row;
    gap: 3vw;
    margin-top: 5vw;
    margin-bottom: 5vw;
}

ul li {
    margin-bottom: calc(1vh + 0.5vw); /* Adjust spacing as needed */
    color: #c8c8c8;
}
a {
    color: white;
}
.me-photo {
    width: 25vw;
    height: 25vw;
    border-radius: 100vw;
    border: 0.3vw solid #0095ff;
    background: #191919;
    margin-left: 3vw;
}

.text {
    width: 50vw;
    font-size: 1.5vw;
    color: #c8c8c8;
    font-weight: 300;
    margin-top: 0.5vw;
}
/* Mobile (Column Layout) */
@media (max-width: 640px) {
    .me-photo {
        width: 60vw;
        height: 60vw;
        margin-left: 0vw;
    }

    .about {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .text {
        width: 80vw;
        font-size: 2vh;
        color: #c8c8c8;
        margin-bottom: 5vh;
    }
}
