.education {
    width: 90%;
    display: flex;
    flex-direction: column;
    margin-bottom: 3vw;
}

.raikes {
    display: flex;
    justify-content: space-between;
}
.raikes img {
    width: 25vw;
    height: 25vw;
}

.text {
    line-height: 1.5;
}

@media (max-width: 640px) {
    .raikes {
        flex-direction: column;
        align-items: center;
    }
    .raikes img {
        width: 60vw;
        height: 60vw;
    }
    .text h3 {
        text-align: center;
    }
}
