.experience {
    width: 90%;
    display: flex;
    flex-direction: column;
    margin-bottom: 3vw;
    padding: 3vw 0px 3vw 0px;
}

.experience-list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.experience-item {
    display: flex;
    align-items: stretch; /* Changed to stretch to ensure full height */
    position: relative;
    background: #191919;
    border-radius: 1vw;
}

.timeline-line {
    width: 2px;
    background-color: #0095ff;
    position: absolute;
    left: 1rem;
    top: 1vw;
    bottom: 1vw;
}

.experience-content {
    padding: 1.5rem;
    margin-left: 3rem;
    width: 70%; /* Reduced to make room for tech stack */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    overflow-wrap: break-word; /* Prevents text overflow */
    word-wrap: break-word;
}

.tech-stack {
    display: flex;
    flex-direction: column;
    width: 30%; /* Set fixed width */
    padding: 1.5rem 1.5rem 1.5rem 0;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

.title {
    font-size: 2rem;
    font-weight: 400;
    color: white; /* Title is white */
    margin-bottom: 0.5rem;
    margin-top: 1rem;
    text-transform: uppercase;
}

.company {
    font-size: 1.2rem;
    color: #c0c0c0; /* Restored to c0c0c0 */
}

.date {
    font-size: 1rem;
    color: #c0c0c0; /* Restored to c0c0c0 */
    margin-bottom: 1rem;
}

ul {
    padding-left: 20px;
}

li {
    font-size: 1rem;
    color: #c0c0c0; /* Changed to c0c0c0 */
    margin-bottom: 0.5rem;
}

/* Individual Tech Boxes */
.tech-box {
    width: 7rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: #252525;
    border-radius: 0.5rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
    text-align: center;
}

.tech-box:hover {
    transform: scale(1.1);
}

.tech-logo {
    width: 2.2rem;
    height: 2.2rem;
    margin-bottom: 0.3rem;
}

.tech-name {
    font-size: 1rem;
    color: white;
}

@media (max-width: 640px) {
    .experience-item {
        flex-direction: column;
    }

    .experience-content {
        width: calc(100% - 30px); /* Adjust width to prevent overflow */
        margin-left: 30px;
        padding: 1.5rem 1.5rem 1.5rem 0;
    }

    .tech-stack {
        flex-direction: row;
        width: calc(100% - 30px); /* Adjust width to match content */
        padding: 0 1.5rem 1.5rem 0;
        margin-left: 30px;
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: 0.8rem;
    }

    .tech-box {
        width: 5.5rem;
        height: 3.5rem;
    }

    .title {
        font-size: 1.2rem;
        color: white; /* Maintaining white color */
    }

    .company,
    .date,
    li {
        font-size: 0.9rem;
        color: #c0c0c0; /* Ensuring c0c0c0 color */
    }
}
