/* Default (Desktop) Layout */
#root {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    padding-bottom: 5vw;
}

.home-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1vw;
}

.head-section {
    display: flex;
    flex-direction: row;
    margin-top: 25vh;
    margin-bottom: 5vh;
}

/* Adjust elements inside #root */
.my-name {
    color: white;
    font-size: 8vw;
    white-space: nowrap;
    font-weight: 400;
    margin: 0vw 0vw -1vw 0vw;
    transform: translateY(-100vh); /* Start way above */
    animation: dropDown 0.5s cubic-bezier(0.15, 1, 0.3, 1) 0.8s forwards; /* Faster drop */
}
.my-name span {
    background: linear-gradient(to right, white, #0095ff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
@keyframes dropDown {
    0% {
        transform: translateY(-100vh);
        opacity: 1;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.summary {
    color: #c0c0c0;
    font-size: calc(0.5vw + 1.5vh);
    margin: 0vw;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
}

/* Mobile (Column Layout) */
@media (max-width: 640px) {
    .head-section {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        margin-top: 10vh;
    }

    .my-name {
        font-size: 22vw;
        line-height: 0.95;
        margin-right: 0;
        margin-top: 20vw;
        text-align: center;
        white-space: pre-line; /* Allows break between first & last name */
    }
    .summary {
        font-size: 4vw;
        width: 75vw;
        font-weight: 400;
        text-transform: uppercase;
        margin-bottom: 10vh;
        margin-top: 3vh;
    }
}

section {
    width: 100vw;
    height: 10vh;
    text-align: center;

    color: white;
    font-size: calc(2vw + 3vh);
    text-transform: uppercase;
    font-weight: 400;
}

.section-content {
    width: 90vw;
    margin-top: 5vw;
    margin-bottom: 5vw;
    display: flex;
    flex-direction: column;
}

.spacer {
    height: 10vw;
}
