/* Default (Desktop) Layout */
#root {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

:root {
    overflow: hidden;
}

.home-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Adjust elements inside #root */
.my-name {
    color: #c8c8c8;
    font-size: 8vw;
    white-space: nowrap;
    margin: 0vw 0vw 0vw 0vw;
}
.my-name span {
    color: #0095ff;
}

.summary {
    color: #c8c8c8;
    font-size: calc(0.5vw + 1.5vh);
    margin: 0vw 0vw 2vw 0vw;
    font-weight: 400;
    text-transform: uppercase;
}

/* Mobile (Column Layout) */
@media (max-width: 640px) {
    #root {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding-top: 5vh;
    }

    .my-name {
        font-size: 22vw;
        line-height: 0.95;
        margin-right: 0;
        text-align: center;
        white-space: pre-line; /* Allows break between first & last name */
    }
}
