/* Default (Desktop) Layout */
.hamburger-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 0vw 0vw 0vw 5vw;
}

.hamburger {
    width: calc(1.5vw + 4vh);
    height: calc(1.5vw + 3vh);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;

    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    transition: all 0.5s ease-in-out;
}

.line {
    width: 100%;
    height: calc(0.2vw + 0.2vh);
    background-color: white;
    border-radius: 5vw;
    transition: all 0.5s ease-in-out;
    pointer-events: none;
}

.side-menu {
    display: flex;
    flex-direction: column;
    gap: 1vw;
    justify-items: center;

    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    pointer-events: none;
}
.side-menu.visible {
    opacity: 1;
    pointer-events: auto;
}
.side-menu.hidden {
    opacity: 0;
    pointer-events: none;
}

.hamburger.open .top {
    transform: translateY(calc(-1 * var(--line-move)));
}

.hamburger.open .bottom {
    transform: translateY(var(--line-move));
}

.hamburger.open .middle {
    opacity: 0;
}

.menu-link {
    font-size: calc(1.2vw + 1.5vh);
    text-decoration: none;
    color: white;
    text-align: center;
    font-weight: 200;
}

.menu-link:hover {
    text-decoration: underline;
}

/* Mobile (Column Layout) */
@media (max-width: 640px) {
    .hamburger-container {
        margin: 0px;
    }
}
